* {
  all: unset; //Unsets everything so you can style everything from scratch
}

@import "/home/intarga/.cache/wal/colors.scss";

//Global Styles
.bar {
  background-color: #000000;
  color: $color0;
  padding: 10px;
  font-family: "Iosevka Slab";
  font-weight: 900;
}

.siji {
    font-family: "FontAwesome";
}

.workspaces {
  font-size: 35px;

  .occupied {
    padding-top: 10px;
  }

  .focused {
    padding-top: 10px;
  }

  .urgent {
    padding-top: 10px;
  }

  .empty {
    padding-top: 10px;
    color: #000;
  }

}
